<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styleslogin.css">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Document</title>
</head>
<body>
    <%-include("./layouts/header.ejs")%>
    <!-- <a href="/profile/<%=user.id%>/add">Profile</a> -->
    <a href="/profile/<%=user.id%>">Visit Profile</a>
    <!-- <%-include("./layouts/addbtn.ejs")%> -->
    you have a good profile and it is good for you
    <h3 style="font-size: 2em; font-weight: 500; font-family: sans-serif;">Hi <%= name %></h3>
    <h3 style="font-weight: 500; font-size: 1.7em; text-align:left;"> <%= email %></h3>

    <%=id%>
    <!-- <%=stories._id%> -->
    <img src="<%=profimage%>" alt="Image of user" style="border-radius: 50%; position: relative; left: 80%;
    top: -160px;"> 


    <% if(stories.length>0){ %>
        <p>Post here</p>
        <table>
            <thead>
                <tr>
                    <th><h5>Title</h5></th>
                    <th><h5>Date</h5></th>
                    <th><h5>Status</h5></th>
                </tr>
            </thead>
            <tbody>
                <% stories.forEach(stories=>{%>
                <tr>
    
                        <td><a href="/stories"><%=stories.title%></a></td>
                        <td><%=stories.createdAt%></td>
                        <td><%=stories.status%></td>
                        <td><a class="btn btn-float" href="/stories/<%=stories._id%>/edit">
                            <i class="fas fa-edit"></i></a>
                            <form method="post" action="/stories/<%=stories._id%>?_method=DELETE">
                                <button type="submit" class="btn red"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    <%}else{%>
        <p>You dont have any stories</p>
    <%}%>
    <div class="fixed-action-btn">
        <a href="/stories/<%=id%>/add" class="btn-floating btn-large waves-effect waves-light red">
            <i class="fas fa-plus"></i></a>
            <!-- <a href='/stories/add'>ADD</a> -->
    </div>
    <!-- <a href="/logout" style="position: relative; top: 160px; list-style: none; text-decoration: none; font: 1.4em sans-serif;
    color: black; border: 1em solid black ; border-radius: 30%; padding: 10px 10px;">Signout</a> -->

</body>
</html>

